<div class="space-y-4 h-full py-4 px-4 flex flex-col">
  <app-router-navs [navLinks]="availableLinks"></app-router-navs>
  <div
    class="py-2 grid px-2 grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-4 w-full bg-white shadow-lg dark:bg-zinc-950"
  >
    <h4
      class="text-2xl col-span-full lg:text-4xl dark:text-blue-100 text-black font-inspiration py-3 border-b border-blue-50 border-opacity-20"
    >
      Dinnig Service(s)
    </h4>
    <a
      [routerLink]="'/main/dine/explore/restaurant'"
      class="flex flex-col px-2 shadow-lg hover:bg-[rgba(57,54,70,0.5)] dark:bg-[rgba(57,54,70,1)] group cursor-pointer bg-cover bg-center"
    >
      <img
        src="assets/img/cutlery.png"
        class="w-12 h-full object-cover"
        alt="cutlery"
      />
      <h4
        class="text-lg group-hover:text-primary dark:group-hover:text-lighter lg:text-2xl dark:text-blue-100 text-black font-incosolata pt-3 pb-2 col-span-full"
      >
        Restaurant
      </h4>
    </a>
    <a
      [routerLink]="'/main/dine/explore/production'"
      class="flex flex-col px-2 shadow-lg hover:bg-[rgba(57,54,70,0.5)] dark:bg-[rgba(57,54,70,1)] group cursor-pointer bg-cover bg-center"
    >
      <img
        src="assets/img/conveyor.png"
        class="w-12 h-full object-cover"
        alt="conveyor"
      />
      <h4
        class="text-lg group-hover:text-primary dark:group-hover:text-lighter lg:text-2xl text-blac dark:text-blue-100 font-incosolata pt-3 pb-2 col-span-full"
      >
        Food Production
      </h4>
    </a>
    <a
      [routerLink]="'/main/dine/explore/stock'"
      class="flex flex-col px-2 shadow-lg hover:bg-[rgba(57,54,70,0.5)] dark:bg-[rgba(57,54,70,1)] group cursor-pointer bg-cover bg-center"
    >
      <img
        src="assets/img/icons8-inventory-64.png"
        class="w-12 h-full object-cover"
        alt="conveyor"
      />
      <h4
        class="text-lg group-hover:text-primary dark:group-hover:text-lighter lg:text-2xl text-blac dark:text-blue-100 font-incosolata pt-3 pb-2 col-span-full"
      >
        In Stock
      </h4>
    </a>
  </div>
</div>
