<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="loaderModal"
  tabindex="-1"
  aria-labelledby="exampleModalFullscreenLabel"
  aria-hidden="true"
  data-te-backdrop="static"
  data-te-keyboard="false"
>
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[0px]:m-0 min-[0px]:h-full min-[0px]:max-w-none"
  >
    <div class="relative p-4 h-full w-full grid place-items-center">
      <div class="loader"></div>
    </div>
  </div>
</div>
