<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="{{ rootIdName + rootId }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]"
  >
    <div
      class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-zinc-900"
    >
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
      >
        <!--Modal title-->
        <h5
          class="text-xl font-medium font-incosolata leading-normal text-neutral-800 dark:text-neutral-200"
          id="exampleModalLabel"
        >
          Item added to cart
        </h5>
        <!--Close button-->
        <button
          type="button"
          class="box-content rounded-none text-black dark:text-lighter border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
          data-te-modal-dismiss
          aria-label="Close"
        >
          <span>
            <i class="bi bi-x-lg"></i>
          </span>
        </button>
      </div>

      <!--Modal body-->
      <div
        class="relative font-incosolata flex-auto p-4"
        data-te-modal-body-ref
      >
        <div
          class="w-full h-12 bg-green-700 flex flex-row items-center px-4 space-x-2"
        >
          <span class="text-white">
            <i class="bi bi-check-circle-fill text-xl"></i>
          </span>
          <p class="text-white font-incosolata text-sm">
            Item Added to cart successfully
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
