<div class="space-y-4 h-full py-4 px-4 flex flex-col">
  <app-router-navs [navLinks]="availableLinks"></app-router-navs>
  <div class="mb-5 dark:bg-zinc-900 bg-white relative pl-1 p-2 shadow">
    <ul
      class="flex list-none flex-row flex-wrap"
      role="tablist"
      data-te-nav-ref
    >
      <li role="presentation">
        <a
          href="#tabs-all-categories"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-blue-200 data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:border-blue-50 dark:data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:text-lighter data-[te-nav-active]:text-lighter dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-all-categories"
          data-te-nav-active
          role="tab"
          aria-controls="tabs-all-categories"
          aria-selected="true"
          >All Categories</a
        >
      </li>
      <li role="presentation">
        <a
          href="#tabs-home"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-blue-200 data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:border-blue-50 dark:data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:text-lighter data-[te-nav-active]:text-lighter dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-home"
          role="tab"
          aria-controls="tabs-home"
          aria-selected="true"
          >Breakfast</a
        >
      </li>
      <li role="presentation">
        <a
          href="#tabs-profile"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-blue-200 data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:border-blue-50 dark:data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:text-lighter data-[te-nav-active]:text-lighter dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-profile"
          role="tab"
          aria-controls="tabs-profile"
          aria-selected="false"
          >Banquet</a
        >
      </li>
      <li role="presentation">
        <a
          href="#tabs-messages"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-blue-200 data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:border-blue-50 dark:data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:text-lighter data-[te-nav-active]:text-lighter dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-messages"
          role="tab"
          aria-controls="tabs-messages"
          aria-selected="false"
          >Drinks</a
        >
      </li>
      <li role="presentation">
        <a
          href="#tabs-desserts"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-blue-200 data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:border-blue-50 dark:data-[te-nav-active]:bg-primary dark:data-[te-nav-active]:text-lighter data-[te-nav-active]:text-lighter dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-desserts"
          role="tab"
          aria-controls="tabs-desserts"
          aria-selected="false"
          >Desserts</a
        >
      </li>
    </ul>
    <div class="absolute z-[1000] right-16 top-1/2 -translate-y-1/2">
      <details class="dropdown dropdown-end relative">
        <summary class="m-1 btn bg-primary">
          <span class="text-2xl"> <i class="bi bi-cart"></i> </span>
        </summary>
        <div class="p-2 shadow menu dropdown-content bg-base-100 rounded-box">
          <h6
            class="block w-full font-incosolata text-center text-2xl whitespace-nowrap bg-transparent px-4 py-2 font-semibold text-neutral-500 dark:text-neutral-200"
          >
            Order(s) #
          </h6>
          <table>
            <thead>
              <tr class="">
                <th
                  *ngFor="let header of menuTableHeaders; index as ind"
                  class="sticky text-lighter bg-primary top-0 px-3 md:px-6 py-2 font-incosolata font-bold bg-grey2"
                >
                  {{ header }}
                </th>
                <th
                  class="sticky text-lighter bg-primary top-0 px-3 md:px-6 py-2 font-incosolata font-bold bg-grey2"
                >
                  -
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                [formGroup]="groupData"
                *ngFor="let groupData of formGroupArray; index as ind"
              >
                <td
                  class="p-3 text-center text-black dark:text-zinc-100 border dark:border-none font-incosolata border-grey2"
                >
                  {{ groupData.get("product")?.value }}
                </td>
                <td
                  class="p-3 text-center text-black dark:text-zinc-100 border dark:border-none font-incosolata border-grey2"
                >
                  <div
                    class="flex flex-row h-10 w-14 md:w-full rounded-lg relative bg-transparent mt-1"
                  >
                    <button
                      (click)="decrementCartItemQuantity(ind)"
                      class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none"
                    >
                      <span class="m-auto text-2xl font-thin">−</span>
                    </button>
                    <input
                      (change)="cartItemChanged($event, ind)"
                      type="number"
                      min="1"
                      max="10"
                      class="focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black md:text-basecursor-default flex items-center text-gray-700 outline-none"
                      name="custom-input-number"
                      [value]="groupData.get('quantity')?.value"
                    />
                    <button
                      (click)="increamentCartItemQuantity(ind)"
                      class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer"
                    >
                      <span class="m-auto text-2xl font-thin">+</span>
                    </button>
                  </div>
                </td>
                <td
                  class="p-3 text-center text-black dark:text-zinc-100 border dark:border-none font-incosolata border-grey2"
                >
                  {{
                    groupData.get("price")?.value *
                      groupData.get("quantity")?.value
                  }}
                </td>
                <td
                  class="p-3 text-red-600 text-center border dark:border-none font-incosolata border-grey2"
                >
                  <button (click)="removeCartFormItem(groupData)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <br />
          </table>
          <div class="w-full flex flex-row items-center justify-between">
            <button></button>
            <button
              onclick="my_modal_1.showModal()"
              class="font-incosolata btn"
            >
              Dine In
            </button>
          </div>
        </div>
      </details>
    </div>
  </div>
  <div class="mb-6">
    <div
      class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-all-categories"
      role="tabpanel"
      aria-labelledby="tabs-all-categories-tab"
      data-te-tab-active
    >
      <div
        class="bg-white p-4 shadow dark:bg-zinc-950 w-full grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
      >
        <div
          *ngFor="let menu of allMenus; index as ind"
          class="block lg:max-w-xs rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-transparent"
        >
          <app-add-item-cart
            [rootIdName]="'all-categories-'"
            [rootId]="ind"
          ></app-add-item-cart>

          <button
            (click)="addToCart(menu)"
            class="relative overflow-hidden bg-cover bg-no-repeat aspect-w-1 aspect-h-1"
            data-te-toggle="modal"
            [attr.data-te-target]="'#all-categories-' + ind"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              class="rounded object-cover object-center w-full h-64"
              [src]="menu.icon"
              alt=""
            />
            <a>
              <div
                class="absolute cursor-pointer bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
              ></div>
            </a>
            <span
              [@fadeInOut]
              *ngIf="isAddedToCartItem(menu)"
              class="text-green-600 text-7xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <i class="bi bi-check-circle"></i>
            </span>
          </button>
          <div class="p-6 grid place-items-center">
            <h5
              class="mb-2 text-center text-xl font-inspiration font-medium leading-tight text-neutral-800 dark:text-neutral-50"
            >
              {{ menu.name }}
            </h5>
            <p
              class="mb-4 font-incosolata text-center text-base text-neutral-600 dark:text-neutral-200"
            >
              {{ menu.category }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-home"
      role="tabpanel"
      aria-labelledby="tabs-home-tab"
    >
      <div
        class="bg-white p-4 shadow dark:bg-zinc-950 w-full grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
      >
        <div
          *ngFor="let menu of breakfastProducts; index as ind"
          class="block lg:max-w-xs rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-transparent"
        >
          <app-add-item-cart
            [rootIdName]="'breakfast-'"
            [rootId]="ind"
          ></app-add-item-cart>
          <button
            (click)="addToCart(menu)"
            class="relative overflow-hidden bg-cover bg-no-repeat aspect-w-1 aspect-h-1"
            data-te-toggle="modal"
            [attr.data-te-target]="'#breakfast-' + ind"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              class="rounded object-cover object-center w-full h-64"
              [src]="menu.icon"
              alt=""
            />
            <a>
              <div
                class="absolute cursor-pointer bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
              ></div>
            </a>
            <span
              [@fadeInOut]
              *ngIf="isAddedToCartItem(menu)"
              class="text-green-600 text-7xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <i class="bi bi-check-circle"></i>
            </span>
          </button>
          <div class="p-6 grid place-items-center">
            <h5
              class="mb-2 text-center text-xl font-inspiration font-medium leading-tight text-neutral-800 dark:text-neutral-50"
            >
              {{ menu.name }}
            </h5>
            <p
              class="mb-4 font-incosolata text-center text-base text-neutral-600 dark:text-neutral-200"
            >
              {{ menu.category }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-profile"
      role="tabpanel"
      aria-labelledby="tabs-profile-tab"
    >
      <div
        class="bg-white p-4 shadow dark:bg-zinc-950 w-full grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
      >
        <div
          *ngFor="let menu of banquetProducts; index as ind"
          class="block lg:max-w-xs rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-transparent"
        >
          <app-add-item-cart
            [rootIdName]="'banquet-'"
            [rootId]="ind"
          ></app-add-item-cart>

          <button
            (click)="addToCart(menu)"
            class="relative overflow-hidden bg-cover bg-no-repeat aspect-w-1 aspect-h-1"
            data-te-toggle="modal"
            [attr.data-te-target]="'#banquet-' + ind"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              class="rounded object-cover object-center w-full h-64"
              [src]="menu.icon"
              alt=""
            />
            <a>
              <div
                class="absolute cursor-pointer bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
              ></div>
            </a>
            <span
              [@fadeInOut]
              *ngIf="isAddedToCartItem(menu)"
              class="text-green-600 text-7xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <i class="bi bi-check-circle"></i>
            </span>
          </button>
          <div class="p-6 grid place-items-center">
            <h5
              class="mb-2 text-center text-xl font-inspiration font-medium leading-tight text-neutral-800 dark:text-neutral-50"
            >
              {{ menu.name }}
            </h5>
            <p
              class="mb-4 font-incosolata text-center text-base text-neutral-600 dark:text-neutral-200"
            >
              {{ menu.category }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-messages"
      role="tabpanel"
      aria-labelledby="tabs-profile-tab"
    >
      <div
        class="bg-white p-4 shadow dark:bg-zinc-950 w-full grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
      >
        <div
          *ngFor="let menu of getDrinksProducts(); index as ind"
          class="block lg:max-w-xs rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-transparent"
        >
          <app-add-item-cart
            [rootIdName]="'drinks-'"
            [rootId]="ind"
          ></app-add-item-cart>

          <button
            (click)="addToCart(menu)"
            class="relative overflow-hidden bg-cover bg-no-repeat aspect-w-1 aspect-h-1"
            data-te-toggle="modal"
            [attr.data-te-target]="'#drinks-' + ind"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              class="rounded object-cover object-center w-full h-64"
              [src]="menu.icon"
              alt=""
            />
            <a>
              <div
                class="absolute cursor-pointer bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
              ></div>
            </a>
            <span
              [@fadeInOut]
              *ngIf="isAddedToCartItem(menu)"
              class="text-green-600 text-7xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <i class="bi bi-check-circle"></i>
            </span>
          </button>
          <div class="p-6 grid place-items-center">
            <h5
              class="mb-2 text-center text-xl font-inspiration font-medium leading-tight text-neutral-800 dark:text-neutral-50"
            >
              {{ menu.name }}
            </h5>
            <p
              class="mb-4 font-incosolata text-center text-base text-neutral-600 dark:text-neutral-200"
            >
              {{ menu.category }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-desserts"
      role="tabpanel"
      aria-labelledby="tabs-desserts-tab"
    >
      <div
        class="bg-white p-4 shadow dark:bg-zinc-950 w-full grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
      >
        <div
          *ngFor="let menu of getDessertsProducts(); index as ind"
          class="block lg:max-w-xs rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-transparent"
        >
          <app-add-item-cart
            [rootIdName]="'desserts-'"
            [rootId]="ind"
          ></app-add-item-cart>

          <button
            (click)="addToCart(menu)"
            class="relative overflow-hidden bg-cover bg-no-repeat aspect-w-1 aspect-h-1"
            data-te-toggle="modal"
            [attr.data-te-target]="'#desserts-' + ind"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              class="rounded object-cover object-center w-full h-64"
              [src]="menu.icon"
              alt=""
            />
            <a>
              <div
                class="absolute cursor-pointer bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
              ></div>
            </a>
            <span
              [@fadeInOut]
              *ngIf="isAddedToCartItem(menu)"
              class="text-green-600 text-7xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <i class="bi bi-check-circle"></i>
            </span>
          </button>
          <div class="p-6 grid place-items-center">
            <h5
              class="mb-2 text-center text-xl font-inspiration font-medium leading-tight text-neutral-800 dark:text-neutral-50"
            >
              {{ menu.name }}
            </h5>
            <p
              class="mb-4 font-incosolata text-center text-base text-neutral-600 dark:text-neutral-200"
            >
              {{ menu.category }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dialog id="my_modal_1" class="modal">
  <form method="dialog" class="modal-box bg-zinc-900 flex flex-col space-y-4">
    <h3 class="font-bold text-lg font-incosolata">Select Table</h3>
    <div class="grid grid-cols-3 lg:grid-cols-6 w-full gap-3">
      <div
        class="bg-red-600 p-2 shadow rounded hover:opacity-80 cursor-pointer font-incosolata tracking-wide"
      >
        T 1
      </div>
      <div
        class="bg-primary p-2 shadow rounded hover:opacity-80 cursor-pointer font-incosolata tracking-wide"
        *ngFor="let i of array100numbers(); index as ind"
      >
        T {{ i }}
      </div>
    </div>
    <div class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn">Close</button>
    </div>
  </form>
</dialog>
