<div class="space-y-4 h-full py-4 px-4">
  <div class="flex flex-row items-center">
    <span class="text-primary">
      <i class="bi bi-house-fill"></i>
    </span>
    <a class="font-incosolata text-sm hover:underline capitalize"
      >/ Manage Rooms</a
    >
  </div>
  <section
    class="grid grid-cols-1 gap-y-4 gap-x-4 lg:grid-cols-2 w-full bg-white shadow-lg p-2"
  >
    <div
      class="w-full py-4 flex flex-row items-center justify-between border-b col-span-full"
    >
      <h4 class="text-xl lg:text-2xl font-incosolata border-mgrey mb-4">
        Manage Rooms:
      </h4>
      <button class="flex flex-row items-center space-x-2 bg-primary px-2 py-3">
        <span>
          <i class="bi bi-plus-lg text-sm text-lighter"></i>
        </span>
        <p class="text-lighter text-sm font-incosolata">Add Room</p>
      </button>
    </div>
  </section>
  <div class="w-full"></div>
</div>
