<div class="">
  <div class="flex flex-row items-center space-x-0">
    <span (click)="('/main/dashboard')" class="text-lighter">
      <i class="bi bi-house-fill"></i>
    </span>
    /
    <ul class="flex flex-row items-center divide-x">
      <a
        *ngFor="let navLink of navLinks; index as ind"
        class="font text-black dark:text-lighter font-incosolata text-sm hover:underline cursor-pointer p-2"
        [routerLink]="navLink.link"
        >{{ navLink.name }}</a
      >
    </ul>
  </div>
</div>
