<!-- <section class="w-full relative bg-white shadow-lg">
  <div class="grid grid-cols-1 gap-y-4 gap-x-4 lg:grid-cols-2 w-full p-2">
    <div
      class="w-full py-4 flex flex-row items-center justify-between border-b col-span-full"
    >
      <h4 class="text-xl lg:text-2xl font-incosolata border-mgrey mb-4">
        Add Employee:
      </h4>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-y-4 gap-x-4 lg:grid-cols-2 w-full p-2">
    <div class="w-full mb-3 space-y-2">
      <label for="room-no" class="capitalize block text-sm font-incosolata"
        >Staff Role</label
      >
      <select
        class="appearance-none w-full border border-gray-300 bg-white px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      >
        <option value="Manager">Manager</option>
        <option value="Receptionist">Receptionist</option>
        <option value="Cleaner">Cleaner</option>
      </select>
    </div>
    <div class="w-full mb-3 space-y-2">
      <label for="room-no" class="capitalize block text-sm font-incosolata"
        >Shift</label
      >
      <select
        class="appearance-none font-incosolata w-full border border-gray-300 bg-white px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      >
        <option value="10:00 AM - 4:00 PM">10:00 AM - 4:00 PM</option>
        <option value="4:00 PM - 10:00 PM">4:00 PM - 10:00 PM</option>
        <option value="10:00 PM - 4:00 AM">10:00 PM - 4:00 AM</option>
        <option value="4:00 AM - 10:00 AM">4:00 AM - 10:00 AM</option>
      </select>
    </div>
    <div class="mb-3 space-y-2">
      <label for="first-name" class="capitalize block text-sm font-incosolata"
        >First name</label
      >
      <div id="first-name" class="relative mb-3" data-te-input-wrapper-init>
        <input
          type="text"
          class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="first-name"
          placeholder="Enter first name"
        />
        <label
          for="first-name"
          class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
          >Enter first name
        </label>
      </div>
    </div>
    <div class="mb-3 space-y-2">
      <label for="last-name" class="capitalize block text-sm font-incosolata"
        >Last name</label
      >
      <div id="last-name" class="relative mb-3" data-te-input-wrapper-init>
        <input
          type="text"
          class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="last-name"
          placeholder="Enter first name"
        />
        <label
          for="last-name"
          class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
          >Enter first name
        </label>
      </div>
    </div>
    <div></div>
    <div class="w-full mb-3 space-y-2">
      <label for="room-no" class="capitalize block text-sm font-incosolata"
        >Contact number</label
      >
      <div class="relative mb-3" data-te-input-wrapper-init>
        <input
          type="text"
          class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="exampleFormControlInput1"
          placeholder="Enter contact number"
        />
        <label
          for="exampleFormControlInput1"
          class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
          >Enter contact number
        </label>
      </div>
    </div>
    <div class="w-full mb-3 space-y-2">
      <label for="room-no" class="capitalize block text-sm font-incosolata"
        >ID Type Card</label
      >
      <select
        class="appearance-none font-incosolata w-full border border-gray-300 bg-white px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      >
        <option value="Passport">Passport</option>
        <option value="Driving License">Driving License</option>
      </select>
    </div>
    <div class="w-full mb-3 space-y-2">
      <label for="room-no" class="capitalize block text-sm font-incosolata"
        >ID Card Number</label
      >
      <div class="relative mb-3" data-te-input-wrapper-init>
        <input
          type="text"
          class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="exampleFormControlInput1"
          placeholder="RJS2 15665212215"
        />
        <label
          for="exampleFormControlInput1"
          class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
          >RJS2 15665212215
        </label>
      </div>
    </div>
    <div class="mb-3 space-y-2">
      <label for="last-name" class="capitalize block text-sm font-incosolata"
        >Residential Address</label
      >
      <div id="last-name" class="relative mb-3" data-te-input-wrapper-init>
        <input
          type="text"
          class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="last-name"
          placeholder="Enter first name"
        />
        <label
          for="last-name"
          class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
          >Enter residential address
        </label>
      </div>
    </div>
    <div class="w-full mb-3 space-y-2">
      <label for="room-no" class="capitalize block text-sm font-incosolata"
        >Salary</label
      >
      <div class="relative mb-3" data-te-input-wrapper-init>
        <input
          type="number"
          class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="exampleFormControlInput1"
          placeholder="Enter salary"
        />
        <label
          for="exampleFormControlInput1"
          class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
          >Enter employee salary
        </label>
      </div>
    </div>
  </div>
</section>

<div class="flex flex-row items-center w-full justify-end my-3">
  <Button
    data-te-ripple-init
    data-te-ripple-color="light"
    class="bg-primary px-4 py-2 flex flex-row items-center group hover:bg-black duration-150"
  >
    <p class="text-lighter group-hover:text-white font-incosolata text-sm">
      Submit
    </p>
    <span class="text-lighter group-hover:text-white">
      <i class="bi bi-arrow-right text-sm"></i>
    </span>
  </Button>
</div> -->

<div class="space-y-4 h-full py-4 px-4">
  <app-router-navs [navLinks]="availableLinks"></app-router-navs>
  <section class="w-full relative bg-white dark:bg-zinc-950 shadow-lg">
    <div
      class="w-full px-2 py-4 flex flex-row items-center justify-between border-b col-span-full"
    >
      <h4 class="text-xl lg:text-2xl font-incosolata border-mgrey mb-4">
        Staff Section:
      </h4>
    </div>
    <div class="grid grid-cols-1 gap-y-4 gap-x-4 lg:grid-cols-2 w-full p-2">
      <div class="w-full mb-3 space-y-2">
        <label
          for="room-no"
          class="capitalize block text-sm font-incosolata text-black dark:text-zinc-100"
          >Staff Role<span class="text-sm text-red-600 font-incosolata"
            >*</span
          ></label
        >
        <select
          formControlName="cardType"
          placeholder="Select a room type"
          class="appearance-none w-full text-black dark:text-zinc-100 text-sm font-incosolata border border-gray-300 bg-white dark:bg-zinc-800 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white dark:focus:bg-transparent focus:border-gray-500"
        >
          <option
            value="Select room type"
            class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
            selected
            disabled
          >
            Select National ID Card type
          </option>
          <option
            class="hover:bg-zinc-800 text-black dark:text-blue-100 text-sm font-incosolata bg-white dark:bg-zinc-900"
          >
            Manager
          </option>
          <option
            class="hover:bg-zinc-800 text-black dark:text-blue-100 text-sm font-incosolata bg-white dark:bg-zinc-900"
          >
            Receptionist
          </option>
          <option
            class="hover:bg-zinc-800 text-black dark:text-blue-100 text-sm font-incosolata bg-white dark:bg-zinc-900"
          >
            Cleaner
          </option>
        </select>
      </div>
      <div class="w-full mb-3 space-y-2">
        <label
          for="room-no"
          class="capitalize block text-sm font-incosolata text-black dark:text-zinc-100"
          >Staff Role<span class="text-sm text-red-600 font-incosolata"
            >*</span
          ></label
        >
        <select
          formControlName="cardType"
          placeholder="Select a room type"
          class="appearance-none w-full text-black dark:text-zinc-100 text-sm font-incosolata border border-gray-300 bg-white dark:bg-zinc-800 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white dark:focus:bg-transparent focus:border-gray-500"
        >
          <option
            class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
            value="10:00 AM - 4:00 PM"
          >
            10:00 AM - 4:00 PM
          </option>
          <option
            class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
            value="4:00 PM - 10:00 PM"
          >
            4:00 PM - 10:00 PM
          </option>
          <option
            class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
            value="10:00 PM - 4:00 AM"
          >
            10:00 PM - 4:00 AM
          </option>
          <option
            class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
            value="4:00 AM - 10:00 AM"
          >
            4:00 AM - 10:00 AM
          </option>
        </select>
      </div>
      <div class="mb-3 space-y-2">
        <label for="first-name" class="capitalize block text-sm font-incosolata"
          >First name</label
        >
        <div id="first-name" class="relative mb-3" data-te-input-wrapper-init>
          <input
            type="text"
            class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="first-name"
            placeholder="Enter first name"
          />
          <label
            for="first-name"
            class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
            >Enter first name
          </label>
        </div>
      </div>
      <div class="mb-3 space-y-2">
        <label for="last-name" class="capitalize block text-sm font-incosolata"
          >Last name</label
        >
        <div id="last-name" class="relative mb-3" data-te-input-wrapper-init>
          <input
            type="text"
            class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="last-name"
            placeholder="Enter first name"
          />
          <label
            for="last-name"
            class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
            >Enter first name
          </label>
        </div>
      </div>
      <div></div>
      <div class="w-full mb-3 space-y-2">
        <label for="room-no" class="capitalize block text-sm font-incosolata"
          >Contact number</label
        >
        <div class="relative mb-3" data-te-input-wrapper-init>
          <input
            type="text"
            class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="exampleFormControlInput1"
            placeholder="Enter contact number"
          />
          <label
            for="exampleFormControlInput1"
            class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
            >Enter contact number
          </label>
        </div>
      </div>
      <!-- <div class="w-full mb-3 space-y-2">
        <label for="room-no" class="capitalize block text-sm font-incosolata"
          >ID Type Card</label
        >
        <select
          class="appearance-none font-incosolata w-full border border-gray-300 bg-white px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        >
          <option value="Passport">Passport</option>
          <option value="Driving License">Driving License</option>
        </select>
      </div> -->
      <div class="w-full mb-3 space-y-2">
        <label
          for="room-no"
          class="capitalize block text-sm font-incosolata text-black dark:text-zinc-100"
          >ID Card Type<span class="text-sm text-red-600 font-incosolata"
            >*</span
          ></label
        >
        <select
          formControlName="cardType"
          placeholder="Select a room type"
          class="appearance-none w-full text-black dark:text-zinc-100 text-sm font-incosolata border border-gray-300 bg-white dark:bg-zinc-800 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white dark:focus:bg-transparent focus:border-gray-500"
        >
          <option
            class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
          >
            Passport
          </option>
          <option
            class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
          >
            Driving License
          </option>
        </select>
      </div>
      <div class="w-full mb-3 space-y-2">
        <label for="room-no" class="capitalize block text-sm font-incosolata"
          >ID Card Number</label
        >
        <div class="relative mb-3" data-te-input-wrapper-init>
          <input
            type="text"
            class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="exampleFormControlInput1"
            placeholder="RJS2 15665212215"
          />
          <label
            for="exampleFormControlInput1"
            class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
            >RJS2 15665212215
          </label>
        </div>
      </div>
      <div class="mb-3 space-y-2">
        <label for="last-name" class="capitalize block text-sm font-incosolata"
          >Residential Address</label
        >
        <div id="last-name" class="relative mb-3" data-te-input-wrapper-init>
          <input
            type="text"
            class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="last-name"
            placeholder="Enter first name"
          />
          <label
            for="last-name"
            class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
            >Enter residential address
          </label>
        </div>
      </div>
      <div class="w-full mb-3 space-y-2">
        <label for="room-no" class="capitalize block text-sm font-incosolata"
          >Salary</label
        >
        <div class="relative mb-3" data-te-input-wrapper-init>
          <input
            type="number"
            class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="exampleFormControlInput1"
            placeholder="Enter salary"
          />
          <label
            for="exampleFormControlInput1"
            class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
            >Enter employee salary
          </label>
        </div>
      </div>
    </div>
    <div class="col-span-full flex flex-row justify-end p-2">
      <Button
        data-te-toggle="modal"
        data-te-target="#loaderModal"
        data-te-ripple-init
        data-te-ripple-color="light"
        class="bg-primary px-4 py-2 flex flex-row items-center group hover:bg-black duration-150"
      >
        <p class="text-lighter group-hover:text-white font-incosolata text-sm">
          Submit
        </p>
        <span class="text-lighter group-hover:text-white">
          <i class="bi bi-arrow-right text-sm"></i>
        </span>
      </Button>
    </div>
  </section>
</div>
