<!-- <button
  class="mt-10 inline-block rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
  data-te-sidenav-toggle-ref
  data-te-target="#sidenav-1"
  aria-controls="#sidenav-1"
  aria-haspopup="true"
>
  <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-white">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-5 w-5"
    >
      <path
        fill-rule="evenodd"
        d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
        clip-rule="evenodd"
      />
    </svg>
  </span>
</button> -->

<div
  class="w-full h-full border bg-white flex flex-row items-center px-4 justify-between"
>
  <button
    data-te-sidenav-toggle-ref
    data-te-target="#sidenav-1"
    aria-controls="#sidenav-1"
    aria-haspopup="true"
  >
    <i class="bi bi-list text-primary text-4xl"></i>
  </button>
  <!-- <h4 class="text-2xl tracking-widest text-primary font-incosolata font-medium">
    Dashboard
  </h4> -->
  <button
    id="dropdownMenuButton1"
    data-te-dropdown-toggle-ref
    aria-expanded="false"
    data-te-ripple-init
    data-te-ripple-color="light"
    class="w-12 h-12 bg-primary rounded-full grid place-items-center"
  >
    <i class="bi bi-person-fill text-xl text-lighter"></i>
  </button>
  <ul
    class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-primary bg-clip-padding text-left text-base shadow-lg [&[data-te-dropdown-show]]:block"
    aria-labelledby="dropdownMenuButton1"
    data-te-dropdown-menu-ref
  >
    <li>
      <a
        class="w-full whitespace-nowrap bg-transparent px-4 py-2 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 flex flex-row items-center"
        data-te-dropdown-item-ref
      >
        <span class="text-red-500 text-sm font-incosolata font-normal"
          >Log out <i class="bi bi-arrow-bar-right text-red-500"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
