<section class="w-full relative bg-white shadow-lg">
  <div class="grid grid-cols-1 gap-y-4 gap-x-4 lg:grid-cols-2 w-full p-2">
    <div
      class="w-full py-4 flex flex-row items-center justify-between border-b col-span-full"
    >
      <h4 class="text-xl lg:text-2xl font-incosolata border-mgrey mb-4">
        Employee History
      </h4>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-y-4 gap-x-4 lg:grid-cols-2 w-full p-2">
    <div class="w-full py-4 flex flex-col border-b col-span-full">
      <p class="font-incosolata text-lg font-bold">
        Employee Name:
        <span class="font-normal font-incosolata">{{ fullName() }}</span>
      </p>
      <p class="font-incosolata text-lg font-bold">
        Salary: <span class="font-normal font-incosolata">{{ salary() }}</span>
      </p>
    </div>
  </div>
  <div>
    <div class="w-full flex pl-2 pr-3 flex-col">
      <div
        class="w-full py-4 flex flex-row items-center justify-between col-span-full"
      >
        <div class="flex flex-row-items-center space-x-2">
          <div>
            <p class="text-sm mt-2 font-incosolata text-black">Shows:</p>
          </div>
          <div class="max-w-[5rem]">
            <select data-te-select-init>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
          </div>
          <div class="hidden lg:block">
            <p class="text-sm mt-2 font-incosolata text-black">Entries</p>
          </div>
        </div>
        <div class="relative mt-0 w-auto lg:w-1/3" data-te-input-wrapper-init>
          <input
            type="search"
            class="peer block min-h-[auto] text-black font-incosolata text-sm w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-gray-300 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="exampleFormControlInput1"
            placeholder="Search..."
          />
        </div>
      </div>
      <div>
        <div
          class="relative hidden max-h-[32rem] overflow-y-auto lg:block w-full bg-white shadow rounded m-2"
        >
          <table class="w-full">
            <thead class="sticky top-0">
              <tr class="py-2 bg-white">
                <th
                  class="text-lg font-incosolata text-center"
                  *ngFor="let header of listHeaders; index as ind"
                >
                  {{ header }}
                </th>
                <th class="text-lg font-incosolata text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="border border-mgrey"
                *ngFor="let item of list; index as ind"
              >
                <td class="text-md font-incosolata text-center p-2">
                  {{ ind + 1 }}
                </td>
                <td class="text-md font-incosolata text-center p-2">
                  {{ item.shift }}
                </td>
                <td class="text-md font-incosolata text-center p-2">
                  {{ item.since.toLocaleDateString() }}
                </td>
                <td class="text-md font-incosolata text-center w-40">
                  {{ item.till ? item.till.toLocaleDateString() : "Present" }}
                </td>
                <td class="text-md font-incosolata text-center p-2">
                  <button
                    id="dropdownMenuButton1"
                    data-te-dropdown-toggle-ref
                    aria-expanded="false"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    class="text-sm font-incosolata text-black px-2 py-1 bg-transparent"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul
                    class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                    aria-labelledby="dropdownMenuButton1"
                    data-te-dropdown-menu-ref
                  >
                    <li>
                      <a
                        class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                        data-te-dropdown-item-ref
                        >Delete</a
                      >
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="w-full flex flex-row items-center justify-between py-2 pl-2"
        >
          <p class="text-md font-incosolata tracking-wide">
            Showing 1 to 5 of 20 entries
          </p>
          <div class="flex flex-row items-center space-x-4">
            <span>
              <i class="bi bi-arrow-left"></i>
            </span>
            <p class="text-md font-incosolata tracking-wide">1</p>
            <span>
              <i class="bi bi-arrow-right"></i>
            </span>
          </div>
        </div>
      </div>
      <div
        class="relative px-4 grid gap-x-2 gap-y-4 sm:grid-cols-2 md:grid-cols-3 lg:hidden"
      >
        <div
          *ngFor="let item of list; index as ind"
          [class]="
            ind % 2 === 0
              ? 'bg-mgrey border-none'
              : 'border border-mgrey bg-transparent'
          "
          class="w-full bg-mgrey flex flex-col px-4 py-2 space-y-4 rounded-lg shadow"
        >
          <div class="flex flex-row items-center justify-between">
            <p class="text-sm font-incosolata">{{ item.shift }}</p>
          </div>
          <div class="flex flex-row items-center justify-between">
            <p class="text-sm font-incosolata">
              {{ item.since.toLocaleDateString() }}
            </p>
            <p
              [class]="
                item.till
                  ? ''
                  : 'text-lighter px-2 rounded-lg shadow bg-primary'
              "
              class="text-sm font-incosolata"
            >
              {{ item.till ? item.till.toLocaleDateString() : "Present" }}
            </p>
          </div>
          <div class="flex flex-row items-center justify-between">
            <p class="text-sm font-incosolata">
              {{ item.till ? item.till.toLocaleDateString() : "Present" }}
            </p>
            <button
              id="dropdownMenuButton1"
              data-te-dropdown-toggle-ref
              aria-expanded="false"
              data-te-ripple-init
              data-te-ripple-color="light"
              class="text-sm font-incosolata text-black px-2 py-1 bg-transparent"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul
              class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
              aria-labelledby="dropdownMenuButton1"
              data-te-dropdown-menu-ref
            >
              <li>
                <a
                  class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                  data-te-dropdown-item-ref
                  >Delete</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
