<div
  class="flex flex-col justify-center w-full bg-white dark:bg-zinc-900 px-12 py-12 lg:px-20 space-y-4 shadow-sm rounded"
>
  <div class="w-full">
    <h1
      class="font-irishGrover text-primary dark:text-orange-400 text-5xl text-center"
    >
      Please register
    </h1>
    <h6
      class="font-irishGrover text-primary text-xl text-center dark:text-orange-400"
    >
      Complete the form below
    </h6>
  </div>
  <form class="grid grid-cols-2 w-full gap-y-2">
    <div class="mb-3 col-span-full relative">
      <input
        type="text"
        class="dark:bg-transparent w-full text-sm font-incosolata dark:text-white p-1 rounded border border-neutral-500 pl-8 placeholder-gray-300"
        placeholder="Enter full name"
      />
      <span class="absolute top-1/2 -translate-y-1/2 left-2">
        <i class="bi bi-person-fill text-mblack dark:text-white"></i>
      </span>
    </div>
    <div class="mb-3 col-span-full relative">
      <input
        type="tel"
        class="dark:bg-transparent w-full text-sm font-incosolata dark:text-white p-1 rounded border border-neutral-500 pl-8 placeholder-gray-300"
        placeholder="Enter telephone (Optional)"
      />
      <span class="absolute top-1/2 -translate-y-1/2 left-2">
        <i class="bi bi-telephone-fill text-mblack dark:text-white"></i>
      </span>
    </div>
    <div class="mb-3 col-span-full relative">
      <input
        type="email"
        class="dark:bg-transparent w-full text-sm font-incosolata dark:text-white p-1 rounded border border-neutral-500 pl-8 placeholder-gray-300"
        placeholder="Enter email"
      />
      <span class="absolute top-1/2 -translate-y-1/2 left-2">
        <i class="bi bi-envelope-fill text-mblack dark:text-white"></i>
      </span>
    </div>
    <div class="mb-3 col-span-full relative">
      <input
        type="password"
        class="dark:bg-transparent w-full text-sm font-incosolata dark:text-white p-1 rounded border border-neutral-500 pl-8 placeholder-gray-300"
        placeholder="Enter password"
      />

      <span class="absolute top-1/2 -translate-y-1/2 left-2">
        <i class="bi bi-unlock-fill text-mblack dark:text-white"></i>
      </span>
    </div>
    <div class="relative col-span-full mb-3">
      <select
        formControlName="roomType"
        class="appearance-none w-full text-black dark:text-zinc-100 text-sm font-incosolata border border-gray-300 bg-white dark:bg-transparent px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white dark:focus:bg-transparent focus:border-gray-500"
      >
        <option
          value="Select room type"
          class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
          selected
          disabled
        >
          Select user type
        </option>
        <option
          value="Select room type"
          class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
        >
          Admin
        </option>
      </select>
      <span
        class="text-black dark:text-zinc-100 top-1/2 right-2 -translate-y-1/2 absolute"
      >
        <i class="bi bi-chevron-compact-down"></i>
      </span>
    </div>
    <div class="col-span-full">
      <p class="text-red-500 font-incosolata text-center text-sm">
        Incorrect password. Try again.
      </p>
    </div>
    <div
      class="col-span-full my-8 w-full flex flex-row items-center justify-center"
    >
      <a
        [routerLink]="'/auth'"
        class="btn bg-primary group hover:bg-mblack duration-150 py-2 px-8 flex flex-row space-x-2"
      >
        <p
          class="text-lg uppercase tracking-widest font-incosolata group-hover:text-amber-50 text-lighter"
        >
          Register
        </p>
        <i
          class="bi bi-arrow-right text-lg text-lighter group-hover:text-amber-50"
        ></i>
      </a>
    </div>
  </form>
  <div class="flex flex-row items-center space-x-1 justify-center">
    <span class="font-incosolata text-sm">Already registered? </span>
    <a
      [routerLink]="'/auth'"
      class="font-incosolata text-sm text-link cursor-pointer hover:underline"
      >Login here.</a
    >
  </div>
</div>
