<div class="space-y-4 h-full py-4 px-4 flex flex-col">
  <app-router-navs [navLinks]="availableLinks"></app-router-navs>
  <!--Tabs navigation-->
  <ul
    class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0"
    role="tablist"
    data-te-nav-ref
    #tabsList
  >
    <li role="presentation">
      <a
        href="#tabs-home"
        class="my-2 block font-incosolata tracking-widest border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent dark:hover:bg-secondary hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:data-[te-nav-active]:border-lighter dark:data-[te-nav-active]:text-lighter data-[te-nav-active]:bg-neutral-300 dark:data-[te-nav-active]:bg-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill"
        data-te-target="#tabs-home"
        data-te-nav-active
        role="tab"
        aria-controls="tabs-home"
        aria-selected="true"
        >Breakfast</a
      >
    </li>
    <li role="presentation">
      <a
        href="#tabs-profile"
        class="focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary tracking-widest font-incosolata my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent dark:hover:bg-secondary hover:bg-neutral-100 focus:isolate dark:data-[te-nav-active]:border-lighter dark:data-[te-nav-active]:text-lighter data-[te-nav-active]:bg-neutral-300 dark:data-[te-nav-active]:bg-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill"
        data-te-target="#tabs-profile"
        role="tab"
        aria-controls="tabs-profile"
        aria-selected="false"
        >Launch & Dinner</a
      >
    </li>
  </ul>

  <!--Tabs content-->
  <div class="mb-6">
    <div
      class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-home"
      role="tabpanel"
      aria-labelledby="tabs-home-tab"
      data-te-tab-active
    >
      <div
        class="w-full h-full bg-white dark:bg-zinc-950 flex flex-col space-y-4 px-2 py-4"
      >
        <div class="w-full flex flex-row justify-between h-24">
          <h4
            class="font-incosolata flex items-end justify-start p-2 tracking-wide text-xl lg:text-lg text-black dark:text-lighter"
          >
            Breakfast food(s)
          </h4>
          <button
            data-te-toggle="modal"
            data-te-toggle="modal"
            data-te-target="#staticBackdrop"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="bg-primary relative w-1/6 m-2 h-14 px-4 py-2 flex flex-row items-center group duration-150"
          >
            <div
              class="absolute group flex space-x-1 flex-row items-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <i
                class="text-lighter group-hover:text-white mt-1 bi bi-plus"
              ></i>
              <p class="font-incosolata text-lighter group-hover:text-white">
                Add
              </p>
            </div>
          </button>
        </div>
        <section>
          <div
            class="w-full grid gap-x-2 gap-y-4 sm:grid-cols-2 md:grid-cols-3 lg:hidden"
          >
            <div
              *ngFor="let food of breakfastCategories; index as ind"
              class="flex flex-col space-y-8 px-2 mx-2 py-4 rounded shadow"
              [class]="
                ind % 2 === 0
                  ? 'bg-mgrey dark:bg-[#4F4557] border-none'
                  : 'border border-secondary bg-transparent'
              "
            >
              <div class="flex flex-row items-center justify-between">
                <img
                  [src]="food.icon"
                  class="w-14 h-14 rounded-full"
                  alt="breakfast-category-icon"
                />
                <p class="font-incosolata dark:text-lighter text-black">
                  {{ food.name }}
                </p>
              </div>
              <div class="flex flex-row items-center justify-between">
                <p
                  class="font-incosolata p-0.5 rounded-lg"
                  [class]="food.status === 'ON' ? 'bg-green-600' : 'bg-red-600'"
                >
                  {{ food.status === "ON" ? "Active" : "Disabled" }}
                </p>
                <div class="relative" data-te-dropdown-ref>
                  <button
                    type="button"
                    class="dark:text-lighter text-black"
                    id="dropdownMenuButton1"
                    data-te-dropdown-toggle-ref
                    aria-expanded="false"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul
                    class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                    aria-labelledby="dropdownMenuButton1"
                    data-te-dropdown-menu-ref
                  >
                    <li>
                      <a
                        class="w-full whitespace-nowrap bg-transparent px-4 py-2 hover:bg-neutral-500 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 flex flex-row items-center"
                        data-te-dropdown-item-ref
                      >
                        <span
                          class="dark:text-lighter text-black text-sm font-incosolata font-normal"
                          >Edit <i class="bi bi-pen"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="w-full whitespace-nowrap bg-transparent px-4 py-2 hover:bg-neutral-500 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 flex flex-row items-center"
                        data-te-dropdown-item-ref
                      >
                        <span
                          class="text-red-500 text-sm font-incosolata font-normal"
                          >Remove
                          <i class="bi bi-arrow-bar-right text-red-500"></i>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="relative hidden max-h-96 lg:block overflow-auto">
            <table #categoriesTable class="relative w-full">
              <thead>
                <tr class="shadow-2xl bg-primary">
                  <th
                    class="sticky top-0 px-3 py-3 text-lighter bg-primary font-incosolata font-bold bg-grey2 rounded-tl-xl"
                  >
                    #
                  </th>
                  <th
                    #tableContainer
                    [attr.data-column]="
                      i !== categoriesHeaders.length - 1 ? header : ''
                    "
                    [attr.data-order]="
                      i !== categoriesHeaders.length - 1 ? 'desc' : ''
                    "
                    *ngFor="let header of categoriesHeaders; index as i"
                    class="sticky top-0 px-3 py-3 text-lighter bg-primary font-incosolata font-bold bg-grey2"
                  >
                    <p class="font-primary text-lighter">
                      {{ header }}
                      <span
                        *ngIf="
                          tableContainer.dataset['order'] == 'desc' &&
                          i !== categoriesHeaders.length - 1
                        "
                        ><i class="bi bi-caret-up"></i>
                      </span>
                      <span
                        *ngIf="
                          tableContainer.dataset['order'] == 'asc' &&
                          i !== categoriesHeaders.length - 1
                        "
                        ><i class="bi bi-caret-down"></i>
                      </span>
                    </p>
                  </th>
                  <th
                    class="sticky text-lighter bg-primary rounded-tr-xl top-0 px-3 py-3 font-incosolata font-bold bg-grey2"
                  >
                    Action
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </section>
      </div>
    </div>
    <div
      class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-profile"
      role="tabpanel"
      aria-labelledby="tabs-profile-tab"
    >
      Tab 2 content
    </div>
  </div>
</div>

<app-loader-modal></app-loader-modal>

<!-- Modal -->
<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="staticBackdrop"
  data-te-backdrop="static"
  data-te-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]"
  >
    <div
      class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
    >
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
      >
        <!--Modal title-->
        <h5
          class="text-xl font-incosolata font-medium leading-normal text-neutral-800 dark:text-neutral-200"
          id="exampleModalLabel"
        >
          Add New Category
        </h5>
        <!--Close button-->
        <button
          type="button"
          class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
          data-te-modal-dismiss
          aria-label="Close"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!--Modal body-->
      <div data-te-modal-body-ref class="relative p-4">
        <form
          [formGroup]="categoriesFormGroup"
          class="flex flex-col space-y-4 w-full"
        >
          <div class="w-full mb-3 space-y-2">
            <label
              for="room-no"
              class="capitalize block text-sm font-incosolata text-black dark:text-zinc-100"
              >Category name<span class="text-sm text-red-600 font-incosolata"
                >*</span
              ></label
            >
            <div class="relative mb-3" data-te-input-wrapper-init>
              <input
                type="text"
                class="peer block dark:bg-zinc-800 dark:text-zinc-100 min-h-[auto] w-full font-incosolata rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none text-black [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 [&:not([data-te-input-placeholder-active])]:placeholder:font-incosolata"
                id="exampleFormControlInput1"
                placeholder="Enter category name"
                formControlName="categoryName"
              />
              <label
                for="exampleFormControlInput1"
                class="pointer-events-none absolute font-incosolata text-sm left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none"
                >Enter category name
              </label>
            </div>
            <span
              *ngIf="
                categoryName && categoryName.invalid && categoryName.touched
              "
              class="text-sm text-red-600 font-incosolata"
            >
              Field cannot be empty
            </span>
          </div>
          <div class="w-full mb-3 space-y-2">
            <label
              for="room-no"
              class="capitalize block text-sm font-incosolata text-black dark:text-zinc-100"
              >Status<span class="text-sm text-red-600 font-incosolata">*</span>
            </label>
            <div class="relative">
              <select
                formControlName="categoryStatus"
                class="appearance-none w-full text-black dark:text-zinc-100 text-sm font-incosolata border border-gray-300 bg-white dark:bg-zinc-800 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white dark:focus:bg-transparent focus:border-gray-500"
              >
                <option
                  value="Select room type"
                  class="hover:bg-zinc-800 text-neutral-600 dark:text-primary text-sm font-incosolata bg-white dark:bg-zinc-900"
                  selected
                  disabled
                >
                  Select status
                </option>
                <option
                  class="hover:bg-zinc-800 text-black dark:text-blue-100 text-sm font-incosolata bg-white dark:bg-zinc-900"
                  [value]="'ON'"
                  [ngValue]="'ON'"
                >
                  ON
                </option>
                <option
                  class="hover:bg-zinc-800 text-black dark:text-blue-100 text-sm font-incosolata bg-white dark:bg-zinc-900"
                  [value]="'OFF'"
                  [ngValue]="'OFF'"
                >
                  OFF
                </option>
              </select>
              <span
                class="text-black dark:text-zinc-100 top-1/2 right-2 -translate-y-1/2 absolute"
              >
                <i class="bi bi-chevron-compact-down"></i>
              </span>
            </div>
            <span
              *ngIf="
                categoryStatus &&
                categoryStatus.invalid &&
                categoryStatus.touched
              "
              class="text-sm text-red-600 font-incosolata"
            >
              Field cannot be empty
            </span>
          </div>
        </form>
      </div>

      <!--Modal footer-->
      <div
        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
      >
        <button
          type="button"
          class="inline-block rounded font-incosolata bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
          data-te-modal-dismiss
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          Close
        </button>
        <button
          type="button"
          class="ml-1 flex flex-row items-center space-x-1 rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          data-te-toggle="modal"
          data-te-target="#loaderModal"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <p class="font-incosolata">Submit</p>
          <span><i class="bi bi-arrow-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
